select,
button {
  padding: 10px;
  border: solid grey 3px;
  border-radius: 10px;
  margin: 40px;
}

label,
select,
button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}
